.animate-all {
	--duration: 2.5s;

	.image-escalators {
		animation: scale 2.5s $outQuart backwards var(--duration);
	}

	.nav {
		animation: fadein_fromTop 1s $outBack backwards
			calc(var(--duration) + 0.8s);
	}

	.header {
		&__top {
			h1 {
				animation: fadein_fromBottom 1s $outBack backwards
					calc(var(--duration) + 0.8s);

				span {
					&::after {
						animation: scaleY 1.3s $outBack backwards
							calc(var(--duration) + 0.8s);
					}

					&:nth-of-type(2)::after {
						animation: scaleY 1.3s $outBack backwards
							calc(var(--duration) + 1.2s);
					}
				}
			}

			p {
				animation: fadein_fromBottom 1s $outBack backwards
					calc(var(--duration) + 1s);
			}
		}

		&__model-wrapper {
			animation: header_model 2.3s $outBack backwards
				calc(var(--duration) + 0.8s);
		}

		&__scrolldown-wrapper-anchor {
			animation: fadein_fromTop 1.3s $outBack backwards
				calc(var(--duration) + 2s);
		}
	}

	.createcv {
		animation: fadein_fromBottom 1s $outBack backwards
			calc(var(--duration) + 1s);

		&__img-wrapper {
			animation: scale 1.5s $outBack backwards;

			&::after {
				animation: createcv_after 2s $inOutCirc backwards;
			}

			&:nth-of-type(1) {
				animation-delay: calc(var(--duration) + 1s);

				&::after {
					animation-delay: calc(var(--duration) + 1.5s);
				}
			}

			&:nth-of-type(2) {
				animation-delay: calc(var(--duration) + 1.2s);

				&::after {
					animation-delay: calc(var(--duration) + 1.8s);
				}
			}

			&:nth-of-type(3) {
				animation-delay: calc(var(--duration) + 1.3s);

				&::after {
					animation-delay: calc(var(--duration) + 1.6s);
				}
			}

			&:nth-of-type(4) {
				animation-delay: calc(var(--duration) + 1.5s);

				&::after {
					animation-delay: calc(var(--duration) + 1.9s);
				}
			}
		}

		.btn {
			animation: fadein_fromTop 1.5s $outBack backwards
				calc(var(--duration) + 1.5s);
		}
	}
}

.anim {
	$value: 15rem;

	&--card-fromBottom,
	&--fromTop,
	&--fromBottom,
	&--fromLeft,
	&--fromRight,
	&--imgs,
	&--fromRight-rotating {
		will-change: opacity, transform;
		opacity: 0;
		// transition: opacity 1.2s $outSmooth, transform 2s $outSmooth;
		transition: opacity 1.2s $outSmooth, transform 2.2s $outBack;

		&.appear {
			opacity: 1 !important;
			// transform: translate3d(0, 0, 0) !important;
			transform: initial !important;
		}
	}

	&--card-fromBottom {
		transform: translate3d(0, $value, 0);
	}

	&--fromTop {
		transform: translate3d(0, -#{$value}, 0);
	}

	&--fromBottom {
		transform: translate3d(0, $value, 0);
	}

	&--fromLeft {
		transform: translate3d(-#{$value}, 0, 0);
	}

	&--fromRight {
		transform: translate3d($value, 0, 0);
	}

	&--fromRight-rotating {
		transform: translate3d($value, 0, $value) rotate(-180deg);
		transition: opacity 0.8s ease, transform 3s $outBack;
	}

	&--icon {
		transform: scale(0) translate3d(0, 5rem, 0);
		transition: transform 1s $outSmooth;

		svg {
			opacity: 0;
			transform: translate3d(0, -#{$value}, 0) scale(0);
			transition-delay: 0.4s;
			transition: transform 1.2s $outSmooth, opacity 0.8s $outSmooth;
		}

		&.appear {
			transform: initial !important;

			svg {
				opacity: 1 !important;
				transform: translate3d(0, 0, 0) scale(1) !important;
			}
		}
	}

	&--imgs {
		transform: translate3d(-100%, 0, 0);
		transition: opacity 1.3s $outSmooth, transform 2s $outSmooth !important;

		// &.appear {
		// 	opacity: 1 !important;
		// 	transform: translate3d(0, 0, 0) !important;
		// }
	}

	&--circle-imgs {
		will-change: clip-path, opacity;
		opacity: 0;
		clip-path: circle(0% at 50% 50%);
		// transition: all 1s $inOutQuad;
		transition: all 2s $inOutBack;

		&.appear {
			opacity: 1 !important;
			clip-path: circle(50% at 50% 50%) !important;
		}
	}

	&--scale {
		transform: scale(0) translate3d(0, -100%, 0);
		transform-origin: center center;
		transition: transform 2.2s $outBack;

		&.appear {
			transform: initial;
		}
	}

	&--fadeIn {
		opacity: 0;
		transition: opacity 1.5s $outSmooth;

		&.appear {
			opacity: 1 !important;
		}
	}
}

@keyframes fadein_fromTop {
	from {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes fadein_fromBottom {
	from {
		transform: translate3d(0, 20%, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes scale {
	from {
		transform: scale(0);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scaleY {
	from {
		transform: scaleY(1);
	}

	to {
		transform: scaleY(0);
	}
}

@keyframes createcv_after {
	0%,
	100% {
		transform: scale(0) translateY(300%);
	}

	40%,
	80% {
		transform: scale(1) translateY(0);
	}
}

@keyframes header_model {
	from {
		transform: rotateY(180deg) scale(0.3) translate3d(-50%, -50%, 0);
		opacity: 0;
	}

	to {
		transform: rotateY(0deg) scale(1) translate3d(0, 0, 0);
		opacity: 1;
	}
}
