html,
body {
	scroll-behavior: smooth;
	@extend %w-100;
	min-height: 100vh;
	overflow-x: hidden;
	transition: all 1s $outCirc;

	scrollbar-color: $main transparent;
	scrollbar-width: none;
}

body {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background: $white;
	color: $black;
	@extend %overflow-hidden;
}

.content {
	display: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
	background: $white;
	width: .8rem;
}

::-webkit-scrollbar-thumb {
	background: $main;
	@extend %radius-btn;
}

::selection {
	background: $main;
	color: $white;
}

a {
	text-decoration: none;
	color: inherit;
	@extend %cursor;
}




.bp {
	font-size: 2rem;
	padding: .3rem 1rem;
	@extend %block;
	@extend %text-center;
	@extend %pos-fix;
	bottom: 5%;
	left: 50%;
	// display: none;

	&::before {
		content: 'desktop '
	}

	@include device(tab-land) {
		// width < 1200 ?
		background: purple;

		&::before {
			content: 'tab-land';
		}
	}

	@include device(tab) {
		// width < 900 ?
		background: teal;

		&::before {
			content: 'tab';
		}
	}

	@include device(phone-land) {
		// width < 600 ?
		background: lightgreen;

		&::before {
			content: 'phone-land';
		}
	}

	@include device(phone) {
		// width < 500 ?
		background: orangered;

		&::before {
			content: 'phone';
		}
	}

	@include device(phone-ant) {
		// width < 320 ?
		background: coral;

		&::before {
			content: 'phone-ant';
		}
	}

	@include device(big) {
		// width > 1920 ?
		background: red;

		&::before {
			content: 'big';
		}
	}
}