html,
body {
	scroll-behavior: smooth;
	@extend %w-100;
	min-height: 100vh;
	overflow-x: hidden;
	transition: all 1s $outCirc;

	scrollbar-color: $main transparent;
	scrollbar-width: none;
}

body {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background: $white;
	color: $black;
	@extend %overflow-hidden;
}

.smooth-scroll-wrapper {
	&--active {
		will-change: transform;
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		overflow: hidden;
		// min-height: 100vh;
	}
}

.content {
	display: none;
	width: 100%;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
	background: $white;
	width: 0.8rem;
	transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb {
	background: $main;
	@extend %radius-btn;
	transition: 0.3s ease-in-out;
}

::selection {
	background: $main;
	color: $white;
}

a {
	text-decoration: none;
	color: inherit;
	@extend %cursor;
}
