* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-shadow: none;
	box-sizing: inherit;
	-webkit-tap-highlight-color: transparent;

	&::after, &::before{
		box-sizing: border-box;
	}
}
input, button{
	border: none;
	box-shadow: none;
	padding: 0;
	border-radius: 0;
}
input[type=submit],
input[type=reset],
input[type=button],
button {
  user-select: none;
}

// button
button {
	appearance: none;
	background: none;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

li{
	list-style-type: none;
}

img {
	user-select: none;
	background-color: transparent;
}

//form
input {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	background-clip: border-box;
	margin: 0;
	outline: 0;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

// remove search controls
input[type='search']::-webkit-search-decoration {
	display: none;
}