$font-family: 'Inter',
sans-serif;
$font-size: 1.6rem;
$line-height: 1.8;
$letter-spacing: .1px;


html {
	font-size: 62.5%;

	@include device(tab-land) {
		font-size: 56.25%;
	}

	@include device(tab) {
		font-size: 50%;
	}

	@include device(phone) {
		font-size: 43.75%;
	}

	@include device(phone-ant) {
		font-size: 37.5%;
	}

	@include device(big) {
		font-size: 75%;
	}
}


body {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.4;
}

.title {
	font-size: 4rem;
	@extend %font-600;
	letter-spacing: .5px;
	color: black;

	@include device(phone-land) {
		font-size: 3.2rem;
	}
}

.paragraph {
	color: darken($bluegrey, 12%);
	font-size: inherit;
	font-size: 1.8rem;
	text-transform: capitalize;
	opacity: .9;
}