.createcv {
	will-change: transform, opacity;
	--img-size: 4.4vw;
	// grid-area: createcv;
	@extend %flex-jsb;
	@extend %radius-icon;
	background: $white;
	box-shadow: 1px 1px 20px 5px rgba($main, .1);
	padding: 2rem 5rem;

	&__img-wrapper {
		will-change: transform, opacity;
		width: var(--img-size);
		height: var(--img-size);
		@extend %radius-icon;
		@extend %cursor;
		@extend %overflow-hidden;
		@extend %pos-rel;
		margin-right: 2rem;

		&::after {
			will-change: transform;
			--circle-size: 1.2rem;
			content: '';
			@extend %pos-abs;
			top: 10%;
			right: 10%;
			width: var(--circle-size);
			height: var(--circle-size);
			background: $main;
			border: .2rem solid $white;
			border-radius: 100%;
			transform: scale(0) translateY(300%);
			transform-origin: center;
			transition: .9s $outCirc;
		}

		&:hover, &:focus {
			&::after { transform: scale(1) translateY(0); }
			.createcv__img { transform: scale(1.5); }
		}

		&:nth-of-type(1) { box-shadow: var(--box-shadow-vals) rgba(#fd8f6e, $rgba-alpha)}
		&:nth-of-type(2) { box-shadow: var(--box-shadow-vals) rgba($rose, $rgba-alpha)}
		&:nth-of-type(3) { box-shadow: var(--box-shadow-vals) rgba(#c8e3ec, $rgba-alpha)}
		&:nth-of-type(4) { box-shadow: var(--box-shadow-vals) rgba(#c8e3ec, $rgba-alpha)}
	}

	&__img {
		will-change: transform;
		width: 100%;
		height: 100%;
		@extend %object-fit;
		transform-origin: center top;
		transition: transform 1s $outSmooth;
	}

	.btn {
		will-change: transform, opacity;
		width: 40%;
		padding: 2rem 1rem;
		margin-left: 5%;
		font-size: 1.4vw;
		@extend %font-600;
	}


	@include device(tab-land) {
		// --img-size: 4.8rem;
		--img-size: 5.2rem;
		padding: 2rem 3.5rem;

		.btn {
			margin-left: 5%;
			font-size: 1.5rem;
			padding: 1.6rem 1rem;
		}
	}

	@include device(phone-land) {
		z-index: -1;
	}
	@include device(phone) {
		padding: 2rem 5vw;
		

		&__img-wrapper { margin-right: 2vw;}
		.btn {  margin-left: 4%; padding: 1.7rem 0rem; }
	}

	@include device(phone-ant) {
		--img-size: 4.4rem;
		flex-wrap: wrap;
		justify-content: center;

		&__img-wrapper { margin-left: 4vw;}

		.btn {
			flex: auto;
			margin: 3rem 0 0 0;
			width: 100% !important;
			padding: 2rem .5rem;
			font-size: 2rem;
		}
	}
}