.forms {
	--form-border-radius: 3.5rem;

	@extend %radius-img; // 4.5rem
	border-radius: var(--form-border-radius);
	background: url('../assets/images/pink-stairs-zoom.jpg') no-repeat center;
	background-size: cover;
	box-shadow: -1px 10px 20px 5px rgba($grey-1, .18);
	width: 30rem;
	@extend %grid;
	margin: -12% 15% 0 auto;
	// transform: translateY(-20%);

	&__img {
		will-change: transform;
		border-radius: 1.7rem;
		background: url('../assets/images/chinese-girl-with-flowers.jpg') no-repeat center;
		background-size: cover;
		margin: 25% auto 15% auto;

		width: 7rem;
		height: 7rem;
		box-shadow: -1px 10px 20px 5px rgba($grey-1, .18);
		@extend %pos-rel;
		transform-origin: center center;
		transition: transform .8s ease-in-out;

		&::before {
			will-change: top, right, opacity, transform;
			@extend %after;
			top: -30%;
			right: -20%;
			border: 1.8px solid rgba($main, .6);
			border-radius: 1.7rem;
			transition: all .8s $inOutQuad;
		}

		&:hover,
		&:focus {
			transform: scale(0.95);

			&::before {
				top: 0;
				right: 0;
				opacity: .1;
				transform: rotate(180deg);
			}
		}


	}

	form {
		background: $white;
		padding: 2rem 4rem 0 4rem;
		border-radius: var(--form-border-radius);
		width: 100%;
		@extend %grid;
		grid-gap: 1.2rem;
		// align-self: flex-end;
	}

	input {
		background: rgba($grey-2, .08);
		color: currentColor;
		padding: 1.2rem 1.8rem;
		font-size: 1.2rem;
		@extend %radius-btn;

		&::placeholder {
			font-size: 1.2rem;
			font-family: inherit;
			color: lighten($grey-2, 15%);
		}

		&:focus {
			color: currentColor;
			background: rgba($grey-1, .3)
		}
	}

	h4 {
		@extend %text-center;
		@extend %font-600;
	}

	.btn {
		transform: translateY(45%);
		display: block;
		margin: 0 auto;
		width: 80%;
	}


	@include device(phone-land) {
		background: url('../assets/images/mob-pink-stairs-zoom.jpg') no-repeat center;
		background-size: cover;
	}
}