%icon {
	width: var(--icon-size);
	height: var(--icon-size);
	@extend %radius-icon;
	@extend %flex-center;
}

.icon {
	@extend %icon;
	background: $icon-bg-gradient;

	&--retro {
		@extend %icon;
		background: $main;

		svg {
			fill: $white;
		}
	}
}

svg {
	height: 2rem;
	width: auto;
}