.features {
	padding: 10vw 0;
	min-height: 100vh;
	@extend %grid-center;
	grid-gap: 25vw 3vw;
	grid-template-columns: repeat(2, 1fr);
	align-items: flex-start;

	&__left {
		border-top-right-radius: 12em;
		border-bottom-right-radius: 12em;
		background-image: url("../assets/images/clock-and-plant-on-desk-nature-min.jpg");
		background-repeat: no-repeat;
		background-position: 90% center;
		background-size: cover;
		@extend %w-100;
		height: 45vmax;
		margin-top: 12%;
		// transition: background-position 1s $inOutBack;

		&:hover {
			// background-position: 70% center;

			.btn {
				animation: 10s hoverBtn ease-in-out reverse infinite;
			}
		}
	}

	&__right {
		will-change: height;
		@extend %w-100;
		padding: 0 5vw;

		& > input[type="radio"] {
			display: none;
		}
	}

	&__labels {
		will-change: height;
	}

	&__label {
		@extend %cursor;
		border-bottom: 1.5px dashed rgba($grey-1, 0.5);
		@extend %grid;
		grid-template-columns: max-content 1fr;
		grid-template-rows: max-content 1fr;
		grid-gap: 0 3rem;
		align-items: center;
		align-content: center;
		padding: 2.5rem 0;

		&:nth-of-type(1) {
			border-top: 1.5px dashed rgba($grey-1, 0.5);
		}

		.icon--retro {
			will-change: color;
			grid-column: 1/2;
			grid-row: 1/2;
			font-size: calc(var(--icon-size) / 1.8);
			@extend %font-300;
			background: $grey;
			color: $bluegrey;
			transition: all 1s $outCirc;

			&::after {
				will-change: opacity, transform;
				content: "+";
				transform: none;
				transform-origin: center;
				opacity: 0.5;
				transition: all 1s $outCirc;
			}
		}

		h3 {
			will-change: color;
			grid-column: 2/-1;
			grid-row: 1/2;
			@extend %font-500;
			color: $bluegrey;
			transition: color 1s $outCirc;
		}

		p {
			will-change: height, opacity, transform;
			grid-column: 2/-1;
			grid-row: 2/-1;
			font-weight: 400;
			padding-right: 5rem;
			color: $bluegrey;

			height: 0;
			opacity: 0;
			pointer-events: none;
			transform: translate3d(0, -20%, 0) scaleY(0);
			transform-origin: center center;
			transition: height 0.8s $outCirc, transform 0.8s $outCirc,
				opacity 0.2s $outCirc;
		}

		&:hover {
			h3 {
				@extend %features-labels-h3;
			}
		}
	}

	%features-labels-h3 {
		color: $main;
	}

	%features-labels-p {
		height: 12rem;
		min-height: 10rem;
		opacity: 1;
		transform: translate3d(0, 0, 0) scaleY(1);
	}

	%features-labels-icon {
		background: $main !important;
		color: $white !important;

		&::after {
			transform: rotate(45deg) !important;
			opacity: 1 !important;
		}
	}

	#features__label--1:checked {
		& ~ .features__labels .features__label:nth-of-type(1) {
			h3 {
				@extend %features-labels-h3;
			}

			.icon--retro {
				@extend %features-labels-icon;
			}

			p {
				@extend %features-labels-p;
			}
		}
	}

	#features__label--2:checked {
		& ~ .features__labels .features__label:nth-of-type(2) {
			h3 {
				@extend %features-labels-h3;
			}

			.icon--retro {
				@extend %features-labels-icon;
			}

			p {
				@extend %features-labels-p;
			}
		}
	}

	#features__label--3:checked {
		& ~ .features__labels .features__label:nth-of-type(3) {
			h3 {
				@extend %features-labels-h3;
			}

			.icon--retro {
				@extend %features-labels-icon;
			}

			p {
				@extend %features-labels-p;
			}
		}
	}

	#features__label--4:checked {
		& ~ .features__labels .features__label:nth-of-type(4) {
			h3 {
				@extend %features-labels-h3;
			}

			.icon--retro {
				@extend %features-labels-icon;
			}

			p {
				@extend %features-labels-p;
			}
		}
	}

	@include device(tab-land) {
		%features-labels-p {
			height: 15rem;
		}
	}

	@include device(tab) {
		padding: 15vw 0 0vw 0;
		max-height: auto;
		grid-template-columns: 1fr;

		&__right {
			padding: 0 10vw;
			min-height: 60vmax;
		}

		%features-labels-p {
			height: 8vw;
		}
	}

	@include device(phone) {
		&__left {
			background: url("../assets/images/mob-clock-and-plant-on-desk-nature-min.jpg")
				no-repeat right;
			background-size: cover;
		}

		&__right {
			margin-top: 10vh;
		}

		%features-labels-p {
			height: auto;
			max-height: max-content;
		}
	}
}

@keyframes hoverBtn {
	0%,
	100% {
		transform: translateY(45%);
	}

	35% {
		transform: translateY(60%);
	}

	70% {
		transform: translateY(25%);
	}
}
