.header {
	padding: 10rem var(--padding-lr) 5rem var(--padding-lr);

	&__top {
		h1 {
			will-change: transform, opacity;
			font-size: 5rem;
			color: black;
			line-height: initial;
			@extend %overflow-hidden;

			span {
				@extend %inline-block;
				@extend %pos-rel;

				&::after {
					@extend %after;
					background: $white;
					left: 0;
					transform-origin: center bottom;
					transform: scaleY(0);
				}
			}
		}

		p {
			will-change: transform, opacity;
			max-width: 40rem;
			color: $grey-2;
			background: transparent;
			backdrop-filter: blur(5px);
		}
	}

	&__bottom {
		padding: 10rem 0;
		@extend %grid;
		grid-gap: 12vw 10vw;
		grid-template-columns: 1fr auto;
		grid-template-rows: max-content 1fr;
		grid-template-areas:
			"createcv model"
			"scrolldown model"
		;
	}

	&__createcv {
		grid-area: createcv;
	}

	&__scrolldown-wrapper-anchor {
		@extend %flex-center;
		grid-area: scrolldown;
		align-self: center;
		justify-self: center;
		margin-top: 8rem;
		@extend %w-100;

		&:hover,
		&:focus {
			.header__scrolldown {
				background: rgba($main, 0.3);
				transform: translateY(50%);

				&::after {
					border-color: rgba($main, 0.3);
				}

				&::before {
					transform: rotate(0deg) translate(10%, 0%);
					font-size: 1.45rem;
					@extend %font-700;
					letter-spacing: 3px;
					color: darken($bluegrey, 10%);
					text-transform: uppercase;

				}
			}
		}
	}

	&__scrolldown {
		--arrow-width: 3px;
		background: $main;
		width: var(--arrow-width);
		height: 13rem;
		font-size: 1.45rem;
		@extend %pos-rel;
		border-radius: 2px;
		transition: all .5s ease-in-out;

		&::before {
			content: 'scroll to explore';
			color: $grey-1;
			@extend %pos-abs;
			top: 0%;
			left: 0;
			width: max-content;
			transform: rotate(90deg) translate(-50%, 80%);
			transform-origin: left center;
			transition: all .5s ease-in-out;
		}

		&::after {
			@extend %pos-abs;
			bottom: 0;
			left: -4px;
			content: '';
			width: 11px;
			height: 11px;
			border-bottom: var(--arrow-width) solid $main;
			border-right: var(--arrow-width) solid $main;
			transform-origin: center center;
			transform: rotate(45deg);
			transition: all .5s ease-in-out;
			border-radius: 2px;
		}


	}

	&__model-wrapper {
		will-change: transform, opacity;
		grid-area: model;
		width: 18vw;
		height: 22vw;
		border-radius: 3rem;
		@extend %overflow-hidden;
		transition: 1s $outSmooth;
		transform-style: preserve-3d;

		&:hover,
		&:focus {
			transform: rotateY(180deg) scale(1) translate3d(0, 0, 0);

			.header__model-img {
				transform: scale(1.8);
				filter: hue-rotate(320deg);
			}
		}
	}

	&__model-img {
		will-change: transform, filter;
		background: url("../assets/images/yellow-jacket-model.jpg") no-repeat center;
		@extend %w-100;
		@extend %h-100;
		background-size: cover;
		transition: 1s $outSmooth transform;
		transform-origin: center top;
	}

	@include device(tab) {
		&__top {
			display: grid;
			justify-content: center;
		}

		&__bottom {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas:
				"createcv createcv createcv createcv"
				". scrolldown model .";
			justify-content: center;
		}

		&__scrolldown {
			align-self: flex-end;
		}
	}


	@include device(phone-land) {
		--padding-lr: 6vw;

		h1 {
			font-size: 4rem;
		}

		p {
			backdrop-filter: none;
		}

		&__model-wrapper {
			width: 40vw;
			height: 50vw;
		}
	}

	@include device(phone-ant) {
		h1 {
			font-size: 3.1rem;
		}
	}
}