$p-l: 24vw;

.container {
	--padding-l: 24vw;
	@extend %pos-rel;

	.image-plant {
		@extend %pos-abs;
		top: 0;
		left: 0;
		border-top-right-radius: 20rem;
		border-bottom-right-radius: 20rem;
		width: 20vw;
		@extend %h-100;
		@extend %overflow-hidden;
		z-index: 10;

		background: url("../assets/images/plant-half.jpg");
		background-size: cover;

		// img {
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: cover;
		// }
	}

	.section--1 {
		padding: 10rem var(--padding-lr) 5rem var(--padding-l);
		margin-left: 6rem;
		font-size: 2rem;

		.icon {
			justify-self: left;
		}

		p {
			margin-top: 3rem;
			text-transform: capitalize;
		}

		span:nth-of-type(1) {
			@extend %font-500;
		}

		span:nth-of-type(2) {
			@extend %overflow-hidden;
			display: inline-flex;
			align-content: center;

			span {
				color: #57b9fa;
				text-transform: lowercase;
				@extend %inline-block;
			}
		}
	}

	.section--2 {
		padding: 10rem var(--padding-lr) 5rem var(--padding-l);
	}

	@include device(tab) {
		.image-plant {
			background-position-x: 25%;

			// img {
			// 	width: 100%;
			// 	height: 100%;
			// 	object-fit: cover;
			// 	object-position: 25% center;
			// }
		}
	}

	@include device(phone-ant) {
		.image-plant {
			display: none;
		}

		.section--1,
		.section--2 {
			padding: 5rem var(--padding-lr);
			margin: 0 auto;
		}
	}
}
