.weaponise {
	padding: var(--padding-lr);
	min-height: 100vh;

	background: $white;
	@extend %grid-center;
	grid-gap: 8vw 10vw;
	grid-template-columns: repeat(2, 1fr);

	&__left {
		min-width: 70%;
		max-width: 40vw;

		p { padding-right: 5rem; }
	}

	&__right {
		@extend %pos-rel;
		overflow: visible;
	}

	&__img-wrapper-1 {
		--img-circle-size: 35vw;

		source,
		img {
			@extend %object-fit;
			@extend %height-auto;
			width: var(--img-circle-size);
			border-radius: 100%;
		}
	}

	&__img-wrapper-2 {
		@extend %pos-abs;
		top: 50%;
		left: 0%;
		transform: translate(-30%, -50%);
		width: 15vw;
		@extend %height-auto;

		source,
		img {
			@extend %radius-img;
			@extend %object-fit;
			width: 100%;
			height: 100%;
		}
	}

	&__icons {
		@extend %pos-abs;
		top: 68%;
		left: 0%;
		transform: translate(10%, -50%);
		width: 16vw;
		// padding: 1.8rem 2rem;
		padding: 2.3rem .5vw;
		// padding: 1.6vh 2vw;

		background: $white;
		@extend %flex-center;
		justify-content: space-evenly;
		border-radius: 2rem;
		box-shadow: -1px 10px 20px 5px rgba($grey-1, .18);
		transition: all .4s ease;
		@extend %overflow-hidden;
	}
	&__icon {
		@extend %cursor;
		line-height: 0;

		svg {
			will-change: fill, stroke;
			height: 2.1rem;
			fill: #c4c4c4;
			stroke: #c4c4c4;
			stroke-width: .1rem;
			transition: all .4s ease-in-out;
		}
		&:nth-of-type(3) svg { stroke-width: .2rem; }

		span {
			will-change: line-height, transform, color;
			display: inline-block;
			font-size: 1.8rem;
			line-height: initial;
			color: #c4c4c4;
			transition: .4s $inOutQuad;
			animation: none;
		}

		&:hover,&:focus {
			svg { fill: $main; stroke: $main; }

			span {
				color: $main;
				animation: hoverDots .8s $inOutQuad;
				&:nth-of-type(2) { animation-delay: .1s; }
				&:nth-of-type(3) { animation-delay: .2s; }
			}
		}
	}


	@include device(tab-land) { &__icons { width: 20vw; } }

	@include device(tab) {
		min-height: max-content;
		grid-auto-flow: column;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, auto);
		padding-top: 12vw;

		&__left { grid-row: 2/3; grid-column: 1/-1; p { padding-right: 0; }}
		&__right { grid-row: 1/2; grid-column: 1/-1;}

		&__icons { width: 24vw; }
	}

	@include device(phone-land) {
		padding-top: 25vw;
		
		&__left {
			min-width: auto;
			max-width: 100%;
		}
		&__icons { 
			top: 78%;
			width: 80%;
		}
		&__icon { svg { height: 2.65rem;}}

		&__img-wrapper-1 { --img-circle-size: 55vw; }
		&__img-wrapper-2 { width: 30vw; }
	}

	@include device(phone) {
		margin-bottom: 8vh;
		grid-gap: 15vw; 

		&__icons { width: 110%; transform: translate(0%, -50%);}
	}

	@include device(phone-ant) {
		&__icons { width: 120%; padding: 1.8rem; }
		&__icon { svg { height: 2.1rem;}}
		&__icon:not(:last-child) { margin-right: 1rem; }
	}
}


@keyframes hoverDots {
	0% { transform: translateY(0%); }
	50% { transform: translateY(-15%); }
	100% { transform: translateY(0%); }
}